* {
  box-sizing: border-box;
}

header,
main,
section,
div {
  border: 1px solid blue;
}

body {
  height: 100vh;
}

h1 {
  border: 1px solid red;
}

header {
  height: 10%;
}

main {
  height: 90%;
}

#add {
  height: 10%;
}

#content {
  height: 90%;
}

#gifs {
  width: 60%;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}

#topics {
  width: 40%;
}

#categories {
  height: 50%;
}

#favorites {
  height: 50%;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}
