* {
  box-sizing: border-box;
}

header,
main,
section,
div {
  border: 1px solid blue;
}

body {
  height: 100vh;
  text-align: center;
}

h1 {
  border: 1px solid red;
  font-family: sans-serif;
  font-size: 20px;
  padding: 5px;
}

header {
  height: 5%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

main {
  height: 95%;
}

#form {
  height: 5%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

#content {
  height: 95%;
}

#gifs {
  width: 60%;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}

#categories {
  width: 40%;
}

.container {
  height: 50%;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}

#images {
  flex-wrap: wrap;
  width: 100%;
}

.rating {
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 15px;
  background: black;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.remove {
  background: red;
}

.fav {
  background: yellow;
}

@media screen and (max-width: 770px) {
  .btn-group {
    width: 100% !important;
  }

  .gif {
    width: 100% !important;
  }
}
